In [1]:
import sys
import pyspark

print("Python version:", sys.version)
print("PySpark version:", pyspark.__version__)

Python version: 3.9.19 (main, Apr 24 2024, 15:20:58)
[GCC 10.2.1 20210110]
PySpark version: 3.5.1

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.conf import SparkConf

conf = SparkConf().setAppName("Paimon App")
conf.set("spark.sql.catalog.paimon_catalog", "org.apache.paimon.spark.SparkCatalog")
conf.set("spark.sql.catalog.paimon_catalog.warehouse", "file:/tmp/paimon")
conf.set("spark.sql.extensions", "org.apache.paimon.spark.extensions.PaimonSparkSessionExtensions")

#  Create a Spark session
spark = SparkSession.builder.config(conf=conf).getOrCreate()
spark.sparkContext.setLogLevel("ERROR")

spark

24/04/24 23:53:00 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [5]:
%%sql
CREATE DATABASE paimon.default;

++
||
++
++

In [6]:
%%sql
USE paimon.default;

++
||
++
++

In [7]:
%%sql

create table my_table (
    id int,
    name string
) tblproperties (
    'primary-key' = 'id'
);

++
||
++
++

In [9]:
%%sql
INSERT INTO my_table VALUES (1, 'Ranga'), (2, 'Nishanth');

++
||
++
++

In [10]:
%%sql
SELECT * FROM my_table;

+----+----------+
| id |     name |
+----+----------+
|  1 |    Ranga |
|  2 | Nishanth |
+----+----------+